<!-- Use ERB to refactor this form and make it more DRY:

<label for="email">email</label>
<input type="text" name="email" id="email" class="fancy_form" >

<label for="username">username</label>
<input type="text" name="username" id="username" class="fancy_form" >

<label for="pin">pin</label>
<input type="text" name="pin" id="pin" class="fancy_form"

<label for="website">website</label>
<input type="text" name="website" id="website" class="fancy_form" >

<label for="address">address</label>
<input type="text" name="address" id="address" class="fancy_form" >

<label for="alias">alias</label>
<input type="text" name="alias" id="alias" class="fancy_form" > -->


<!-- Solution 1 -->

<%= form_for @fancy_form do |f| %>
  Email    : <%= f.label :email %> <br> <%= f.text_field :emal %><br>
  Username : <%= f.label :username %> <br> <%= f.text_field :last_name %><br>
  Pin      : <%= f.label :pin %> <br> <%= f.text_area :pin %><br>
  Website  : <%= f.label :website %> <br> <%= f.check_box :website %><br>
  Address  : <%= f.label :address %> <br> <%= f.text_field :address %><br>
  Alias    : <%= f.label :alias %> <br> <%= f.text_field :alias %><br>
  <%= f.submit %>
<% end %>


<!-- Solution 2 -->
<!--
<%= form_tag do %>
<% end %> -->
